.main{
    background:linear-gradient(to bottom , #d6e6ff 0%, #d6e6ff 63%, #ffff 63%, #ffff 100%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 70px 0;
}
.container {
    display: flex;
    box-shadow: black 4px 4px 10px 0px;
    background: #ffff;
    width: 1200px;
    height: 520px;
    border-radius: 10px;
}
.img-container{
    border-radius: 10px;
    height: 100%;
    width: 30%;
    text-align: center;
    background-color: #ffff;
}
img{
    top: 10%;
    width: 80%;
    height: 80%;
    position:relative;
}
.info-container{
    border-radius: 10px;
    height: 100%;
    width: 70%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.head {
    margin-left: 20px;
    background-color: #ffff;
    height: 30%;
    width: 90%;
    border-bottom: 1px solid gray;
}
.title{
    color: #002772; /*change in woman*/
    height: 50%;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    background-color: #ffff;
}
.cate-rate{
    height: 20%;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    text-align: start;
    margin: 0;
    padding: 0;
    font-size: 19px;
}
.category{
    padding-top: 15px;
    width: 50%;
}
.rating-container{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.rate-count {
    padding-top: 15px;
    text-align: end;
    width: 60%;
    background-color: #ffff;
}
.body{
    width: 90%;
    height: 40%;
    font-size: 20px;
    overflow: auto;
    text-align: start;
    margin-left: 20px;
    background-color: #ffff;
    border-bottom: 1px solid gray;
}
.description{
    background-color: #ffff;
}
.foot{
    width: 90%;
    height: 30%;
    margin-left: 20px;
    background-color: #ffff;
}
.cost{
    background-color: #ffff;
    color: #002772; /*change in woman*/
    font-size: 30px;
    font-weight: bold;
}
.buybt{
    width: 45%;
    border: 5px #002772 solid; /*change in woman*/
    background-color: #002772; /*change in woman*/
    color: #ffff;
    border-radius: 0%;
    font-size: 20px;
    margin-right: 10px;
}
.buybt:hover{
    border: 5px #001c50 solid; /*change in woman*/
    background-color: #001c50; /*change in woman*/
    font-weight: bolder;
}
.nextbt{
    margin-left: 10px;
    width: 45%;
    color: #002772; /*change in woman*/
    font-size: 20px;
    border-radius: 0%;
    background-color: #ffff;
    border: 5px #002772 solid; /*change in woman*/
}
.nextbt:hover{
    color: #001c50; /*change in woman*/
    border: 5px #001c50 solid; /*change in woman*/
    font-weight: bolder
    ;
}



